$primary: #23a883;
$secondary: #78e289;
$lightGreen: #09daea;
$lightBg: #144654;
$lightBlue: #3e6d9c;
$background: #0d282f;
$dark: #021921;
$text: #fff;
$label: #b8b9ba;
$linearGreen: #78e289;
$success: #33d68a;
$danger: #fc6058;
$tiffanyBlue: #21d4fd;
$lightWhite: #f8faf9;
$purple: #b921ff;

$headerFontFamily: 'Roboto';
$titleFontFamily: 'Overpass';
$textFontFamily: 'Source Sans Pro';
