.login-container {
	display: flex;
	flex-direction: column;
	min-height: inherit;
	flex: 1;
	align-items: center;
	justify-content: center;
	background: $lightWhite;
	.header-title {
		margin-left: 8px;
		margin-bottom: 26px;
		color: $lightBlue;
		font-family: $headerFontFamily;
		font-size: 26px;
	}

	.child {
		background-color: transparent;
		box-shadow: 0px 0px 6px $label;
		padding: 40px;
		min-width: 500px;
		text-align: center;
	}
	.form-footer-button {
		border-color: $linearGreen;
		background-image: linear-gradient(90deg, $lightGreen 0%, $secondary 100%);
		margin-bottom: 24px;
	}

	.login-button {
		background-color: linear-gradient(90deg, $lightGreen 0%, $secondary 100%) !important;
	}
	.sign-up-hover {
		color: $lightBlue;
		padding-left: 4px;
		text-decoration: none;
	}
	.sign-up-hover:hover {
		cursor: pointer;
		text-decoration: underline;
	}
}
